/*---------------------------------------------------------------------------
$Id: en-us.rc 451 2010-03-11 17:34:45Z fwhite $
---------------------------------------------------------------------------*/

#include "MUI.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
begin
    LANG_NOCATEGORY, "Please select a category"
    LANG_PREPARING, "Preparing"
    LANG_PROCESSED, "Processed"
    LANG_PROCESSING, "Processing"
    LANG_PROCESSING_FILE, "Processing file"
    LANG_UPLOADED, "Uploaded"
    LANG_UPLOADING, "Uploading"
    LANG_USERNAME, "Username"
    LANG_LOGGEDINAS, "Logged in as:  "
    LANG_NOT_LOGGEDIN, "Not logged in"
    LANG_LOG_ON, "Log on"
    LANG_LOG_ON_TO, "Log on to"
    LANG_USERNAME_EMPTY, "Username not specified"
    LANG_PASSWORD_EMPTY, "Password not specified"
    LANG_INVALID_SERVER_RESPONSE, "Invalid server response"
end

